<section class="flex flex-wrap justify-center mt-3 mb-3 gap-5">
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
    <app-card-wallpaper />
</section>
